/* 
    Document   : stylefile.css
    Created on : May 9th, 2017
    Author     : Modupeore Adetunji
    Description: TransAtlasDB web interface style sheet
*/
/* Header Attributes */
h1 {
    margin:1pt;
    color:#614051;
    font-weight:900;
    font-family: "calibri", arial,sans-serif;
    padding: 10px;

}
h2 {
    margin:1pt;
    color:#406150;
    font-weight:bold;
    font-family: "calibri", arial,sans-serif;
    
}
h3 {
    margin:1pt 10pt;
    color:#C12267;
    font-weight:bold;
    font-family: tahoma, arial,sans-serif;  
}
h4 {
    margin:5pt 0pt;
    font-weight:regular;
    color:#008080;
    font-family: tahoma, arial,sans-serif;  
}
/**/

/* Table Attributes */
table.topic {
    letter-spacing: 2px;
    white-space:nowrap;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    background-color: #CDCDF0;
    border-radius: 4px 0px;
}
/**/

/* Home page list of options */
table.home { 
	border-collapse: collapse; 
	border: 1px solid #202533;
} 
table.home th { 
	color:#461f56;
	background-color: #ffe5a3; 
	padding: 10px;
}
table.home td { 
	padding: 10px 10px;
        border-left: 1px solid #202533;
        border-right: 1px solid #202533;
}
/**/

/* Results Table */
table.result { 
	border-collapse: collapse; 
	border: 1px solid black;
} 
table.result th { 
	color:pink;
	border: 1px solid black;
	background-color: #483C32; 
	padding: 10px;
}
table.result td { 
	border: 1px solid black; 
	padding: 3px 10px;
}
table.table1 tr:nth-child(even) {background: #D0D0D0}
table.table1 tr:nth-child(odd) {background: #FFF}	
/**/

/* For the Menu Bar*/
div#menu {
    width: 100%;
    letter-spacing: 1px;
    font-size: 20px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: normal;
    text-align: left;
    /**text-shadow: 1px 1px 1px #333333;**/
    background-color: #F0f0cd;
}
#menu ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}
#menu li { 
display: inline; 
padding: 20px; 
}
#menu a {
    text-decoration: none;
    color: #4a4166;
    padding: 8px 8px 8px 8px;
}
#menu a:hover {
    color: #FFF;
    border-radius: 50%;
    background-color: #415e66;
}
#menu a:active {
    color: #414B66;
    background-color: #FFF;
}
/**/

/* Body Attributes */
body{
    background-color: #fffff6; /**#F0F0CD;**/
    margin-top: 10px;
    font-family: "times news roman",arial;	
}
div#bodys {
    margin: 10px 50px;
}
/**/

